

body {
	font-family:"Roboto", sans-serif;
	font-weight: 300;

}

h1 {
	font-family:"Bitter", serif;
	font-weight: 600;
	font-size:2.5rem;
	text-align: center;
	color:black;
}



h2{
	font-style: italic;
	font-weight: 300;
	font-size:1.5rem;
	text-align: center;
	color:#4f4f4f;
}

h3 {
	font-family: "Roboto", serif;
	font-weight: 500;
	font-size:1.5rem;
	text-align: center;

}

h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size:1.2rem;
}

h5 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size:0.9rem;
	text-align: center;
	color:#a5d6a3;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size:1rem;
    color: #888;
}

 .esconder {
   	display: none;
 }

 div.col-12 img{
	width:100%;
	height:auto;
}

.icono img{
	width:10%;
	height:auto;
}
.ilustracion img{
	width: 30%;
	height:auto;
}

/* AQUÍ COMIENZA LA IMAGEN CON TEXTO SOBRE PUESTO */

#content_div_inicio {
	top:0;
	left:0;
	height: auto;
  width: 100%;
	background:none;

}

#padre {
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}

.titulo {
  position: absolute;    /* posición absolute con respecto al padre */
	bottom: 50%;
  left: 24%;
	font-family:"Bitter", serif;
	font-weight: 600;
	font-size:2.5rem;
	text-align: center;
	color:white;
}

.subtitulo {
  position: absolute;    /* posición absolute con respecto al padre */
	bottom: 30%;
  left: 27%;
	font-family: "Roboto", serif;
	font-weight: 500;
	font-size:1.3rem;
	text-align: center;
	color:white;
}
