

body {
	font-family:"Roboto", sans-serif;
	font-weight: 300;

}

h1 {
	font-family:"Bitter", serif;
	font-weight: 600;
	font-size:2.5rem;
	text-align: center;
	color:
}

 @media (min-width: 992px) {
    h1{
    font-size:3.3rem;
      }
}

h2{
	font-style: italic;
	font-weight: 300;
	font-size:1.5rem;
	text-align: center;
}

h3 {
	font-family: "Roboto", serif;
	font-weight: 500;
	font-size:1.5rem;
	text-align: center;
	
}

h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size:1.2rem;
}


p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size:1rem;
    color: #888;
}

 .esconder {
   	display: none;
 }

 div.col-12 img{
	width:100%;
	height:auto;
}

.icono img{
	width:10%;
	height:auto;
}
.imagen img{
	width: 30%;
	height:auto;
}
